<%= form_for @quote_home do |f| %>
<div class="large-6 large-centered">
    <div class='large-4 large-centered text-center'>
        <h3>Quotes Home</h3>
    </div>
    <%= @quote_home.errors.full_messages.first if @quote_home.errors.any? %>
    <div class="small-12 collapse columns">
        <label>Promo Date</label>
        <%= f.text_field :promo_date, placeholder: "Promo Date" %>
    </div>
    <div class="small-12 collapse columns">
        <label>Category</label>
        <%= f.text_field :category, placeholder: "Category" %>
    </div>
    <div class="small-12 collapse columns">
        <label>Carrier</label>
        <%= f.text_field :carrier, placeholder: "Carrier" %>
    </div>
    <div class="small-12 columns">
        <button class="button">
            Submit
        </button>
    </div>
</div>
<% end %>
