<% if @quotes.present? %>
    <div class="large-10 large-centered">
        <table class="datatable display responsive no-wrap">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>ID</th>
                    <th>Promo</th>
                    <th>Category</th>
                    <th>Carrier</th>
                </tr>
            </thead>
            <tbody>
                <% @quotes.each {|quote| %>
                <tr>
                    <td><a href='/edit_quotes_home?id=<%= quote.id %>' class='button'>Edit</a></td>
                    <td><%= quote.id %></td>
                    <td><%= quote.promo_date %></td>
                    <td><%= quote.category %></td>
                    <td><%= quote.carrier %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $('.datatable').DataTable({
                "scrollX": true
            });
        });
    </script>
<% end %>
