<% if @quotes.present? %>
    <div class="large-10 large-centered">
        <table class="datatable display responsive no-wrap">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kind</th>
                    <th>Promo</th>
                    <th>Category</th>
                    <th>Carrier</th>
                    <th>Bodily Injury Liability</th>
                    <th>Property Damage Liability</th>
                    <th>Medical Payments</th>
                    <th>Uninsured_motorist_bodily_injury</th>
                    <th>Comprehensive</th>
                    <th>Collision</th>
                    <th>Waiver Of Collision Deductible</th>
                    <th>Rental Reimbursement</th>
                    <th>Roadside Coverage</th>
                    <th>Total Premium</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <tbody>
                <% @quotes.each {|quote| %>
                <tr>
                    <td><%= quote.id %></td>
                    <td><%= quote.kind %></td>
                    <td><%= quote.promo_date %></td>
                    <td><%= quote.category %></td>
                    <td><%= quote.carrier %></td>
                    <td><%= quote.bodily_injury_liability %></td>
                    <td><%= quote.property_damage_liability %></td>
                    <td><%= quote.medical_payments %></td>
                    <td><%= quote.uninsured_motorist_bodily_injury %></td>
                    <td><%= quote.comprehensive %></td>
                    <td><%= quote.collision %></td>
                    <td><%= quote.waiver_of_collision_deductible %></td>
                    <td><%= quote.rental_reimbursement %></td>
                    <td><%= quote.roadside_coverage %></td>
                    <td><%= quote.total_premium %></td>
                    <td><%= quote.created_at %></td>
                    <td><%= quote.updated_at %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <button class='button'>Submit</button>
    </div>
    <script>
        $(document).ready(function() {
            var editor;

            editor = new $.fn.dataTable.Editor( {
            	ajax: "../php/staff.php",
            	table: ".datatable",
            	fields: [{
            		label: "id",
            		name: "id"
                    }, {
            		label: "kind",
            		name: "kind"
                    }, {
            		label: "promo_date",
            		name: "promo_date"
                    }, {
            		label: "category",
            		name: "category"
                    }, {
            		label: "carrier",
            		name: "carrier"
                    }, {
            		label: "bodily_injury_liability",
            		name: "bodily_injury_liability"
                    }, {
            		label: "property_damage_liability",
            		name: "property_damage_liability"
                    }, {
            		label: "medical_payments",
            		name: "medical_payments"
                    }, {
            		label: "uninsured_motorist_bodily_injury",
            		name: "uninsured_motorist_bodily_injury"
                    }, {
            		label: "comprehensive",
            		name: "comprehensive"
                    }, {
            		label: "collision",
            		name: "collision"
                    }, {
            		label: "waiver_of_collision_deductible",
            		name: "waiver_of_collision_deductible"
                    }, {
            		label: "rental_reimbursement",
            		name: "rental_reimbursement"
                    }, {
            		label: "roadside_coverage",
            		name: "roadside_coverage"
                    }, {
            		label: "total_premium",
            		name: "total_premium"
                    }, {
            		label: "created_at",
            		name: "created_at"
                    }, {
            		label: "updated_at",
            		name: "updated_at"
            	}]
            });

            $('.datatable').on( 'click', 'tbody td:not(:first-child)', function (e) {
                editor.inline( this );
            } );

            // Datatables
            var table = $('.datatable').DataTable({
            });
        } );
    </script>
<% end %>
