<div class="small-12 large-5 column">
    <%= form_for @registration do %>
        <h4>New User</h4>
        <label>Email:</label>
        <%= text_field_tag 'email' %>
        <label>Password:</label>
        <%= text_field_tag 'password' %>
        <label>Password confirmation:</label>
        <%= password_field_tag 'password' %>
        <%= submit_tag 'Register', class: 'button' %>
    <% end %>
</div>
