<div>
    <h3>Click a star below to rate my performance</h3>
</div>
<table style="border-collapse: collapse;border-spacing: 0;width: 275px; font-size: 50px; direction: rtl;" dir="rtl">
<tbody>
  <tr>
    <td style="padding: 0;vertical-align: top;" width="55" class="star-wrapper" lang="x-star-wrapper">
      <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
        <a
          href="http://localhost:3000/rateus?rating=5&type=<%= quotetype %>&id=<%= id %>"
          class="star"
          target="_blank"
          lang="x-star-divbox"
          style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;"
          tabindex="1">
          <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
          <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
        </a>
        <a
          href="http://localhost:3000/rateus?rating=5&type=<%= quotetype %>&id=<%= id %>"
          class="star-number"
          target="_blank"
          lang="x-star-number"
          style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">5</a>
      </div>
    </td>
    <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
      <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
        <a
          href="http://localhost:3000/rateus?rating=4&type=<%= quotetype %>&id=<%= id %>"
          class="star"
          target="_blank"
          lang="x-star-divbox"
          style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;"
          tabindex="2">
          <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
          <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
        </a>
        <a
          href="http://localhost:3000/rateus?rating=4&type=<%= quotetype %>&id=<%= id %>"
          class="star-number"
          target="_blank"
          lang="x-star-number"
          style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">4</a>
      </div>
    </td>
    <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
      <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
        <a
          href="http://localhost:3000/?rating=3&type=<%= quotetype %>&id=<%= id %>"
          class="star"
          target="_blank"
          lang="x-star-divbox"
          style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;"
          tabindex="3">
          <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
          <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
        </a>
        <a
          href="http://localhost:3000/?rating=3&type=<%= quotetype %>&id=<%= id %>"
          class="star-number"
          target="_blank"
          lang="x-star-number"
          style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">3</a>
      </div>
    </td>
    <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
      <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
        <a
          href="http://localhost:3000/?rating=2&type=<%= quotetype %>&id=<%= id %>"
          class="star"
          target="_blank"
          lang="x-star-divbox"
          style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;"
          tabindex="4">
          <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
          <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
        </a>
        <a
          href="http://localhost:3000/?rating=2&type=<%= quotetype %>&id=<%= id %>"
          class="star-number"
          target="_blank"
          lang="x-star-number"
          style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">2</a>
      </div>
    </td>
    <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
      <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
        <a
          href="http://localhost:3000/?rating=1&type=<%= quotetype %>&id=<%= id %>"
          class="star"
          target="_blank"
          lang="x-star-divbox"
          style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;"
          tabindex="5">
          <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
          <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
        </a>
        <a
          href="http://localhost:3000/?rating=1&type=<%= quotetype %>&id=<%= id %>"
          class="star-number"
          target="_blank"
          lang="x-star-number"
          style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">1</a>
      </div>
    </td>
  </tr>
</tbody>
</table>