<div>
    <div><%= image_tag 'https://s3-us-west-2.amazonaws.com/spiderpolicy/spider_policy_man.png', width: '70%' %></div>
    <div>
      <h2>Your auto quote has been approved!</h2>
    </div>
    <div style="margin-top: 30px">
        <p>This quote is for your automobile below:</p>
        <p>Name: <%= @user.profile.name %></p>
        <p>VIN: <%= @auto.vin %></p>
        <p>Year: <%= @auto.year %></p>
        <p>Make: <%= @auto.make %></p>
        <p>Mode: <%= @auto.model %></p>
    </div>
    <div style="margin-top: 30px">
        <table id="home_quote_approve_table" cellpadding="5" cellspacing="0" style='border: 1px solid #efefef; padding: 10px; border-radius: 5px; background: #d6d6d6'>
            <thead>
                <tr>
                    <th style="background: #000; color: #fff;">Coverage</th>
                    <th style="background: #000; color: #fff;">Bronze</th>
                    <th style="background: #000; color: #fff;">Silver</th>
                    <th style="background: #000; color: #fff;">Gold</th>
                </tr>
            </thead>
            <tbody>
                <% (@quotes.column_names - ['id', 'auto_id', 'category', 'created_at', 'updated_at']).each {|column| %>
                    <tr>
                        <td style='background: #fff'><%= column.titleize %></td>
                        <% @quotes.each_with_index {|quote, index| %>
                            <% case index
                                when 0
                                color='#B87333'
                                when 1
                                color='#C0C0C0'
                                when 2
                                color='#FFD700'
                                else
                                color='#FFFFFF'
                                end %>

                            <td style="background: <%= color %>; min-width: 100px"><%= quote[column] %></td>
                        <% } %>
                    <tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <br/>
    <div>
      <div style='margin-bottom: 10px'>
        <h3>Thank you for choosing Spider Policy,</h3>
      </div>
      <div>
        <%= image_tag image_url("https://s3-us-west-2.amazonaws.com/spiderpolicy/agent_#{@agent.login}.jpg"), style: 'float:left; height:50px; width:50px;' %>
      </div>
      <div style='margin-left:60px; margin-bottom: 10px'>
        <div><%= @agent.name %></div>
        <div><%= @agent.phone %></div>
        <div><%= @agent.email %></div>
      </div>
      <div>
        <%= render 'ratingstars', quotetype: 'auto', id: @auto.id %>
      </div>
    </div>
</div>
