<div>
    <div><%= image_tag 'https://s3-us-west-2.amazonaws.com/spiderpolicy/spider_policy_man.png', width: '70%' %></div>
    <div style="margin-top: 30px"><%= Date.today %></div>
    <div style="margin-top: 30px">
        <p><%= @user.profile.name %></p>
        <p><%= @auto.vin %></p>
        <p><%= @auto.year %></p>
        <p><%= @auto.make %></p>
        <p><%= @auto.model %></p>
    </div>
    <div style="margin-top: 30px">
        <table id="home_quote_approve_table" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th style="background: #000; color: #fff;">Coverage</th>
                    <th style="background: #000; color: #fff;">Bronze</th>
                    <th style="background: #000; color: #fff;">Silver</th>
                    <th style="background: #000; color: #fff;">Gold</th>
                </tr>
            </thead>
            <tbody>
                <% (@quotes.column_names - ['id', 'auto_id', 'category', 'created_at', 'updated_at']).each {|column| %>
                    <tr>
                        <td><%= column.titleize %></td>
                        <% @quotes.each_with_index {|quote, index| %>
                            <% case index
                                when 0
                                color='#B87333'
                                when 1
                                color='#C0C0C0'
                                when 2
                                color='#FFD700'
                                else
                                color='#FFFFFF'
                                end %>

                            <td style="background: <%= color %>" ><%= quote[column] %></td>
                        <% } %>
                    <tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
