<div>
    <%= image_tag 'https://s3-us-west-2.amazonaws.com/spiderpolicy/spider_policy_man.png', width: '70%' %>
</div>
<div>
    <p>Someone has a question about insurance from the website:</p>
    <p>Name: <%= @contact['name'] %></p>
    <p>Email: <%= @contact['email'] %></p>
    <p>Phone: <%= @contact['phone'] %></p>
    <p>Comment: <%= @contact['comment'] %></p>
</div>
<div>
    <p>Please get back to this person as soon as possible.</p>
</div>
