<div class="large-6 large-centered text-center">
    <div>
        <span class="fa-stack fa-lg fa-4x"> <i class="fa fa-circle fa-stack-2x blue"></i> <i class="fa fa-home fa-stack-1x fa-inverse"></i> </span>
    </div>

    <div style="font-size: 34px;">
        Home Insurance
    </div>

    <div id="spider_logo" class="show-for-medium-up">
        <%= image_tag 'spider_policy_mascot.png', id: "spider-mascot", class: "small-4 medium-9 large-12" %>
    </div>

    <%= form_tag 'store_zip' do %>
    <div class="large-6 medium-4 small-12 small-centered large-centered">
        <div class="small-7 medium-6 collapse columns text-center">
            <%= text_field_tag :postal_code, nil, placeholder: "Zip Code" %>
        </div>
        <div class="small-5 columns text-center" style="white-space: nowrap">
            <%= button_tag 'Start Quote', class: 'button' %>
        </div>
    </div>
    <% end %>

    <div class="large-6 large-centered small-8 small-centered text-center">
        Select a different insurance product:
    </div>

    <div class="large-6 large-centered text-center">
        <span class="fa-stack fa-lg fa-2x">
            <%= link_to '<i class="fa fa-circle-o fa-stack-2x blue"></i><i class="fa fa-home fa-stack-1x blue"></i>'.html_safe, new_home_url %>
        </span>
        <span class="fa-stack fa-lg fa-2x">
            <%= link_to '<i class="fa fa-circle-o fa-stack-2x blue"></i><i class="fa fa-bus fa-stack-1x blue"></i>'.html_safe, new_auto_url %>
        </span>
    </div>
</div>
