<h2><%=h quote.category.titleize %></h2>
<div class="field">
  <%= f.label :carrier %>
  <%= f.text_field :carrier %>
</div>
<div class="field">
  <%= f.label :bodily_injury_liability %>
  <%= f.text_field :bodily_injury_liability %>
</div>
<div class="field">
  <%= f.label :property_damage_liability %>
  <%= f.text_field :property_damage_liability %>
</div>
<div class="field">
  <%= f.label :medical_payments %>
  <%= f.text_field :medical_payments %>
</div>
<div class="field">
  <%= f.label :uninsured_motorist_bodily_injury %>
  <%= f.text_field :uninsured_motorist_bodily_injury %>
</div>
<div class="field">
  <%= f.label :comprehensive %>
  <%= f.text_field :comprehensive %>
</div>
<div class="field">
  <%= f.label :collision %>
  <%= f.text_field :collision %>
</div>
<div class="field">
  <%= f.label :waiver_of_collision_deductible %>
  <%= f.text_field :waiver_of_collision_deductible %>
</div>
<div class="field">
  <%= f.label :rental_reimbursement %>
  <%= f.text_field :rental_reimbursement %>
</div>
<div class="field">
  <%= f.label :roadside_coverage %>
  <%= f.text_field :roadside_coverage %>
</div>
<div class="field">
  <%= f.label :total_premium %>
  <%= f.text_field :total_premium %>
</div>