<% if Rails.cache.read("agent-#{session.id}").blank? %>
    <div class="large-3 large-centered">
        <%= form_tag(agent_login_url) do %>
        Username:
        <%= text_field_tag 'agent[login]' %>
        Password:
        <%= text_field_tag 'agent[password]' %>
        <%= submit_tag 'Login', class: "button" %>
        <% end %>
    </div>
<% else %>
<% if @auto_quotes.present? %>
    <%= form_tag send_quote_path do %>
        <div class="large-10 large-centered">
            <table class="datatable display responsive no-wrap">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                        <th>ID</th>
                        <th>Promo</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>DL Number</th>
                        <th>Marital Status</th>
                        <th>VIN</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                    </tr>
                </thead>
                <tbody>
                    <% @auto_quotes.each {|auto| %>
                    <tr>
                        <td></td>
                        <td><%= auto.id %></td>
                        <td><%= select_tag 'customer[][promo_date]', options_for_select(@quotes), {:include_blank => true} %>
                            <td><%= auto.status %></td>
                            <td><%= auto.user.profile.name %></td>
                            <td><%= auto.user.profile.phone_number %></td>
                            <td><%= auto.user.profile.email %></td>
                            <td><%= auto.user.profile.dl_number %></td>
                            <td><%= auto.user.profile.martial_status %></td>
                            <td><%= auto.vin %></td>
                            <td><%= auto.year %></td>
                            <td><%= auto.make %></td>
                            <td><%= auto.model %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <button class='button'>Submit</button>
        </div>
        <% end %>
        <script>
            // Datatables
            var table = $('.datatable').DataTable({
                'columnDefs': [
                    {
                        'targets': 0,
                        'searchable': false,
                        'orderable': false,
                        'className': 'dt-body-center',
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox" name="customer[][id]" value="' + full[1] + '">';
                        }
                    }
                ],
                'order': [
                    [1, 'asc']
                ]
            });

            // Handle click on "Select all" control
            $('#example-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = table.rows({'search': 'applied'}).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            // Handle click on checkbox to set state of "Select all" control
            $('.datatable tbody').on('change', 'input[type="checkbox"]', function () {
                // If checkbox is not checked
                if (!this.checked) {
                    var el = $('#example-select-all').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if (el && el.checked && ('indeterminate' in el)) {
                        // Set visual state of "Select all" control as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });

            // Handle form submission event
            $('#frm-example').on('submit', function (e) {
                var form = this;

                // Iterate over all checkboxes in the table
                table.$('input[type="checkbox"]').each(function () {
                    // If checkbox doesn't exist in DOMf
                    if (!$.contains(document, this)) {
                        // If checkbox is checked
                        if (this.checked) {
                            // Create a hidden element
                            $(form).append($('<input>').attr('type', 'hidden').attr('name', this.name).val(this.value));
                        }
                    }
                });
            });
        </script>
    <% end %>
<% end %>
