<% if Rails.cache.read("agent-#{session.id}").blank? %>
    <div class="large-3 large-centered">
        <%= form_tag(agent_login_url) do %>
        Username:
        <%= text_field_tag 'agent[login]' %>
        Password:
        <%= text_field_tag 'agent[password]' %>
        <%= submit_tag 'Login', class: "button" %>
        <% end %>
    </div>
<% else %>
<% if @auto_quotes.present? %>
    <%= form_tag send_quote_auto_path do %>
        <div class="large-10 large-centered">
            <table class="datatable display responsive no-wrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>DL Number</th>
                        <th>Marital Status</th>
                        <th>VIN</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                    </tr>
                </thead>
                <tbody>
                    <% @auto_quotes.each {|auto| %>
                    <tr>
                        <td>
                            <% if auto.status == 'pending' %>
                                <%= link_to 'Create Quote', { action: "draw_quote_auto", id: auto.id }, class: 'button' %>
                            <% else %>
                                Completed
                            <% end %>
                        </td>
                        <td><%= auto.id %></td>
                        <td>
                            <% if auto.status == 'completed' %>
                                <%= link_to 'Resend', resend_quote_auto_path(id: auto.id), class: 'button' %>
                            <% else %>
                                <%= auto.status %>
                            <% end %>
                        </td>
                        <td><%= auto.user.profile.try(:name) %></td>
                        <td><%= auto.user.profile.try(:phone_number) %></td>
                        <td><%= auto.user.profile.try(:email) %></td>
                        <td><%= auto.user.profile.try(:dl_number) %></td>
                        <td><%= auto.user.profile.try(:martial_status) %></td>
                        <td><%= auto.vin %></td>
                        <td><%= auto.year %></td>
                        <td><%= auto.make %></td>
                        <td><%= auto.model %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <button class='button'>Submit</button>
        </div>
        <% end %>
        <script>
            // Datatables
            $('.datatable').DataTable({
                "scrollX": true
            });
        </script>
    <% end %>
<% end %>
