<div class='row'>
    <div class="card large-4 large-centered">
        <div class="card-divider" style='background: #1C509D; color: #fff'>
            Welcome back
            <%= @agent.name %>, your current ratings
        </div>
        <div class="card-section" style='min-height: 100px; background: #d4d4d4;'>
            <div class='large-6 small-12 column text-center'>
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle-o fa-stack-2x blue"></i>
                    <i class="fa fa-bus fa-stack-1x blue"></i>
                </span>
                <%= rating_percent_color(@auto_ratings_percent) %>
            </div>
            <div class='large-6 small-12 column text-center'>
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle-o fa-stack-2x blue"></i>
                    <i class="fa fa-home fa-stack-1x blue"></i>
                </span>
                <%= rating_percent_color(@home_ratings_percent) %>
            </div>
        </div>
    </div>
</div>
<br/>
<div class='row'>
    <div class="card large-4 large-centered">
        <div class="card-divider" style='background: #1C509D; color: #fff'>
            Choose task
        </div>
        <div class="card-section" style='min-height: 100px; background: #d4d4d4;'>
            <div class='large-12 large-centered'><%= link_to '<i class="fa fa-bus"></i> Review Pending Autos'.html_safe, agent_autos_path, class: 'button large expanded' %></div>
            <div class='large-12 large-centered'><%= link_to '<i class="fa fa-home"></i> Review Pending Homes'.html_safe, agent_homes_path, class: 'button large expanded' %></div>
            <div class='large-12 large-centered'><%= link_to '<i class="fa fa-bus"></i> Auto Quote Defaults'.html_safe, edit_multiple_quotes_auto_index_path, class: 'button large expanded' %></div>
            <div class='large-12 large-centered'><%= link_to '<i class="fa fa-home"></i> Home Quote Defaults'.html_safe, edit_quotes_home_path(id: 1), class: 'button large expanded' %></div>
            <% if @agent.is_manager %>
                <div class='large-12 large-centered'><%= link_to '<i class="fa fa-user"></i> Manage Agents'.html_safe, agent_manage_path, class: 'button large expanded' %></div>
            <% end %>
        </div>
    </div>
</div>