<div class="small-12 collapse columns text-center">
    <h5>Personal Information</h5>
</div>
<%= render "application/error_messages", :target => @user %>
<div class="small-12 collapse columns text-center">
    <label class="text-left">Email Address</label>
    <%= text_field_tag 'user[email]', (params[:user]['email'] if params[:user].present?), placeholder: "eg. youremail@gmail.com", required: true, onblur: "checkExistingUser(this.value)" %>
</div>
<div class="small-12 collapse columns text-center">
    <label class="text-left">Create Password</label>
    <%= password_field_tag 'user[password]', nil, placeholder: "Create a new password", required: true, onblur: "checkExistingUser(this.value)" %>
</div>
<div class="small-12 collapse columns text-center">
    <label class="text-left">Password Confirmation</label>
    <%= password_field_tag 'user[password_confirmation]', nil, placeholder: "Type the same password again", required: true, onblur: "checkExistingUser(this.value)" %>
</div>
<div class="small-12 collapse columns text-center">
    <label class="text-left">Full Name</label>
    <%= text_field_tag 'profile[name]', (params[:profile]['name'] if params[:profile].present?), placeholder: "eg. John Smith", required: true %>
</div>
<div class="small-12 collapse columns text-center">
    <label class="text-left">Phone Number</label>
    <%= telephone_field_tag 'profile[phone_number]', (params[:profile]['phone_number'] if params[:profile].present?), placeholder: "eg. 888-888-8888", required: true %>
</div>
<div class="small-12 collapse columns text-center date">
    <label class="text-left">Date of Birth</label>
    <%= date_select 'profile', 'dob', {order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100, selected: @user.try(:profile).try(:dob)}, { required: true } %>
</div>
<div class="small-12 collapse columns text-center">
    <label class="text-left">Driver's License Number</label>
    <%= text_field_tag 'profile[dl_number]', (params[:profile]['dl_number'] if params[:profile].present?), placeholder: "Driver's License", required: true %>
</div>
<div class="small-12 collapse columns text-center">
    <label class="text-left">Marital Status</label>
    <%= select_tag 'profile[martial_status]', options_for_select([['Select Marital Status', ''], ['Married', 'married'], ['Single', 'single']], (params[:profile]['martial_status'] if params[:profile].present?)), placeholder: "Marital Status", required: true %>
</div>

<div class="reveal" id="checkExistingUser" data-reveal>
  <h1></h1>
  <p class="lead"><span id="checkExistingUserEmail"></span> is already used. Log in to use your existing account.</p>
  <p><%= link_to 'GO TO LOGIN PAGE', sessions_path, class: 'button' %></p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
