<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Spider Policy - Home & Auto Insurance</title>

        <%= stylesheet_link_tag    "application" %>
        <script src="https://use.fontawesome.com/7122480264.js"></script>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="title-bar">
            <div class="title-bar-left large-1 small-1">
                <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            </div>
            <div class="title-bar-title large-10 small-10 text-center">
                <%= link_to(root_url) do %>
                    <%= image_tag 'spider_policy_man.png', class: 'spider_policy_man' %>
                <% end %>
            </div>
            <div class="title-bar-right large-1 small-1">
                <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
            </div>
        </div>
        <div class="row column">
            <div class="off-canvas-wrapper">
                <div class="text-right"><%= @signed_in %></div>
                <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
                    <ul>
                        <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-home"></i> Home</button></li>'.html_safe, new_home_url %>
                        <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-bus"></i> Auto</button></li>'.html_safe, new_auto_url %>
                        <hr />
                        <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-info"></i> About</button></li>'.html_safe, about_url %>
                        <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-phone"></i> Contact Us</button></li>'.html_safe, contact_us_url %>
                        <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-lock"></i> Privay Policy</button></li>'.html_safe, privay_policy_url %>
                        <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-balance-scale"></i> Claims</button></li>'.html_safe, claims_url %>
                    </ul>
                </div>
                <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
                    <ul>
                        <% if Rails.cache.read("uid-#{session.id}").blank? %>
                            <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-user"></i> Login</button></li>'.html_safe, sessions_url %>
                            <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-user"></i> Sign Up</button></li>'.html_safe, new_registration_url %>
                        <% end %>
                        <% if Rails.cache.read("uid-#{session.id}").present? %>
                            <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-user"></i> Logout</button></li>'.html_safe, session_logout_url %>
                        <% end %>
                        <%= link_to '<li><button class="button large-12 small-12"><i class="fa fa-user-o"></i> Agent Login</button></li>'.html_safe, agents_url %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="off-canvas-content row" data-off-canvas-content>
            <div class="large-6 large-centered">
                <% flash.each do |key, value| %>
                    <div class="callout <%= key %>"><%= value %></div>
                <% end %>
            </div>
            <%= yield %>
        </div>
        <div id="footer" class="large-12 small-12 columns text-center">
            <%= image_tag 'partners.jpg' %>
        </div>
    </body>
</html>
